<% layout("/layouts/boilerplate") %>
<style>
    #signup-heading {
        margin-top: 10px;
        color: #0a85a3;
        text-align: center;
    }

    label {
        color: #134f8b;
    }
    .radio-button-container{
        margin-top: 16px;
        text-align: center;
    }
    .field-group {
        margin-bottom: 15px;
    }
    #profileImage {
        background-color: #fff;
    }
    .submit-button-container{
        text-align: center;
    }
    .submit-btn {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        background-color: #0a85a3;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .submit-btn:hover {
        background-color: #3b90e5;
    }
    .hidden {
        display: none;
    }

    /* password with eye icon */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

#password {
  padding: 10px;
  font-size: 16px;
}

#passkey {
    padding: 10px;
    font-size: 16px;
}

#securityCode {
    padding: 10px;
    font-size: 16px;
}

#togglePassword {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin: 4px 30px 0 0;
}

#togglePassword i {
  font-size: 18px;
}

.fa{
    color: #0a85a3;
}

#togglePasskey {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin: 4px 30px 0 0;
}

#togglePasskey i {
  font-size: 18px;
}

#toggleSecurityCode {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin: 4px 30px 0 0;
}

#toggleSecurityCode i {
  font-size: 18px;
}


</style>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 id="signup-heading">Sign up</h2>
            <form id="signUpForm" method="post" action="/study/auth/signup" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="radio-button-container">
                    <div class="form-check form-check-inline">
                        <input type="radio" id="student" class="form-check-input" name="role" value="student" required>
                        <label for="student">Student</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="teacher" class="form-check-input" name="role" value="teacher" required>
                        <label for="teacher">Teacher</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="admin" class="form-check-input" name="role" value="admin" required>
                        <label for="admin">Admin</label>
                    </div>
                </div>
                
                <!-- Common Fields -->
                <div class="field-group mb-3" >
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" class="form-control" name="student[name]" placeholder="Enter your name" required>
                </div>
                <div class="field-group mb-3">
                    <label for="profileImage" class="form-label">Upload your Profile Picture:</label>
                    <input type="file" id="profileImage" class="form-control" name="student[profileImage]" required>
                </div>
                <div class="field-group mb-3">
                    <label for="email" class="form-label">Email ID:</label>
                    <input type="email" id="email" class="form-control" name="student[emailId]" placeholder="Enter your Email Id" required>
                </div>
                <div class="field-group mb-3">
                    <label for="contact" class="form-label">Contact Number:</label>
                    <input type="text" id="contact" class="form-control" name="student[contactNo]" placeholder="Enter your Contact Number" required>
                </div>
                <div class="field-group mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" class="form-control" name="student[username]" placeholder="Enter your username" required>
                </div>
                    <input type="hidden" id="type" name="type" value="Student">
                
    
                <!-- Student-Specific Fields -->
                <div class="field-group hidden" id="studentFields">
                    <div class="mb-3">
                        <label for="class" class="form-label">Class:</label>
                        <input type="text" id="class" class="form-control" name="student[class]" placeholder="Enter youur class">
                    </div>
                    <div class="mb-3">
                        <label for="school" class="form-label">School:</label>
                        <input type="text" id="school" class="form-control" name="student[school]" placeholder="Enter your school">
                    </div>
                </div>
    
                <!-- Teacher-Specific Fields -->
                <div class="field-group hidden" id="teacherFields">
                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject:</label>
                        <input type="text" id="subject" class="form-control" name="teacher[subject]" placeholder="Enter your subject">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea id="description" class="form-control" name="teacher[description]" placeholder="write a short description about yourself"></textarea>
                    </div>
                </div>
    
                <!-- Teacher and Admin Specific Fields -->
                <div class="field-group hidden mb-3" id="commonFields">
                        <label for="passkey" class="form-label">Passkey:</label>
                        <div class="password-container">
                            <input type="password" name="passkey" id="passkey" class="form-control" placeholder="Enter your passkey" required>
                            <button id="togglePasskey" type="button">
                                <i id="eyeIconPasskey" class="fa fa-eye"></i>
                            </button>
                        </div>
                </div>

                <!-- Admin-Specific Fields -->
                <div class="field-group hidden mb-3" id="adminFields">
                    <label for="securityCode" class="form-label">Security Code</label>
                    <div class="password-container">
                        <input type="password" name="admin[securityCode]" id="securityCode" class="form-control" placeholder="Enter security code" required>
                        <button id="toggleSecurityCode" type="button">
                            <i id="eyeIconSecurityCode" class="fa fa-eye"></i>
                        </button>
                    </div>
            </div>
    
                <div class="field-group mb-3">
                    <label for="password" class="form-label">Password:</label>
                        <div class="password-container">
                          <input type="password" id="password" class="form-control" name="password" placeholder="Enter your password" required>
                          <button id="togglePassword" type="button">
                            <i id="eyeIconPassword" class="fa fa-eye"></i>
                          </button>
                        </div>
                </div>
                <div class="submit-button-container"><button type="submit" class="submit-btn">Sign up</button></div>
            </form>
            <p>Already have an account? <a href="/study/auth/signin" style="text-decoration: none;">Sign in here</a>.</p>
        </div>
    </div>

    <script>
        document.querySelectorAll('input[name="role"]').forEach(roleInput => {
            roleInput.addEventListener('change', function() {
                const studentFields = document.getElementById('studentFields');
                const teacherFields = document.getElementById('teacherFields');
                const adminFields = document.getElementById('adminFields');
                const commonFields = document.getElementById('commonFields');

                if (this.value === 'student') {
                    studentFields.classList.remove('hidden');
                    teacherFields.classList.add('hidden');
                    adminFields.classList.add("hidden");
                    commonFields.classList.add("hidden");
                    document.getElementById('name').value = "";
                    document.getElementById('profileImage').value = "";
                    document.getElementById('email').value = "";
                    document.getElementById('contact').value = "";
                    document.getElementById('username').value = "";
                    document.getElementById('class').value = "";
                    document.getElementById('school').value = "";
                    document.getElementById('password').value = "";
                    document.getElementById('class').required = true;
                    document.getElementById('school').required = true;
                    document.getElementById('subject').required = false;
                    document.getElementById('description').required = false;
                    document.getElementById('passkey').required = false;
                    document.getElementById('securityCode').required = false;
                    document.getElementById('name').name = "student[name]";
                    document.getElementById('profileImage').name = "student[profileImage]";
                    document.getElementById('email').name = "student[emailId]";
                    document.getElementById('contact').name = "student[contactNo]";
                    document.getElementById('username').name = "student[username]";
                    document.getElementById('type').value = "Student";
                } else if (this.value === 'teacher') {
                    teacherFields.classList.remove('hidden');
                    studentFields.classList.add('hidden');
                    adminFields.classList.add("hidden");
                    commonFields.classList.remove("hidden");
                    document.getElementById('name').value = "";
                    document.getElementById('email').value = "";
                    document.getElementById('profileImage').value = "";
                    document.getElementById('contact').value = "";
                    document.getElementById('username').value = "";
                    document.getElementById('subject').value = "";
                    document.getElementById('description').value = "";
                    document.getElementById('passkey').value = "";
                    document.getElementById('password').value = "";
                    document.getElementById('class').required = false;
                    document.getElementById('profileImage').required = false;
                    document.getElementById('school').required = false;
                    document.getElementById('subject').required = true;
                    document.getElementById('description').required = true;
                    document.getElementById('passkey').required = true;
                    document.getElementById('securityCode').required = false;
                    document.getElementById('name').name = "teacher[name]";
                    document.getElementById('email').name = "teacher[emailId]";
                    document.getElementById('profileImage').name = "teacher[profileImage]";
                    document.getElementById('contact').name = "teacher[contactNo]";
                    document.getElementById('username').name = "teacher[username]";
                    document.getElementById('passkey').name = "passkey";
                    document.getElementById('type').value = "Teacher";
                } else if (this.value === 'admin') {
                    adminFields.classList.remove("hidden");
                    studentFields.classList.add('hidden');
                    teacherFields.classList.add('hidden');
                    commonFields.classList.remove("hidden");
                    document.getElementById('name').value = "";
                    document.getElementById('email').value = "";
                    document.getElementById('profileImage').value = "";
                    document.getElementById('contact').value = "";
                    document.getElementById('username').value = "";
                    document.getElementById('password').value = "";
                    document.getElementById('passkey').value = "";                    
                    document.getElementById('securityCode').value = "";    
                    document.getElementById('class').required = false;
                    document.getElementById('profileImage').required = false;
                    document.getElementById('school').required = false;
                    document.getElementById('subject').required = false;
                    document.getElementById('description').required = false;
                    document.getElementById('passkey').required = true;
                    document.getElementById('securityCode').required = true; 
                    document.getElementById('name').name = "admin[name]";
                    document.getElementById('email').name = "admin[emailId]";
                    document.getElementById('profileImage').name = "admin[profileImage]";
                    document.getElementById('contact').name = "admin[contactNo]";
                    document.getElementById('username').name = "admin[username]";
                    document.getElementById('passkey').name = "admin[passkey]";
                    document.getElementById('type').value = "Admin";
                } 
            });
        });

        //password with eye icon
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordField = document.getElementById('password');
            const eyeIcon = document.getElementById('eyeIconPassword');
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            eyeIcon.classList.toggle('fa-eye');
            eyeIcon.classList.toggle('fa-eye-slash');
        });

        document.getElementById('togglePasskey').addEventListener('click', function () {
            const passkeyField = document.getElementById('passkey');
            const eyeIcon = document.getElementById('eyeIconPasskey');
            const type = passkeyField.getAttribute('type') === 'password' ? 'text' : 'password';
            passkeyField.setAttribute('type', type);
            eyeIcon.classList.toggle('fa-eye');
            eyeIcon.classList.toggle('fa-eye-slash');   
        });

        document.getElementById('toggleSecurityCode').addEventListener('click', function () {
            const securityCodeField = document.getElementById('securityCode');
            const eyeIcon = document.getElementById('eyeIconSecurityCode');
            const type = securityCodeField.getAttribute('type') === 'password' ? 'text' : 'password';
            securityCodeField.setAttribute('type', type);
            eyeIcon.classList.toggle('fa-eye');
            eyeIcon.classList.toggle('fa-eye-slash');   
        });
    </script>
</body>