<% layout("/layouts/boilerplate") %>
<style>
    #signin-heading {
        margin-top: 10px;
        color: #0a85a3;
        text-align: center;
    }

    label {
        color: #134f8b;
    }
    .radio-button-container{
      margin-top: 16px;
      text-align: center;
    }
    .submit-button-container{
      text-align: center;
    }
    .submit-btn {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        background-color: #0a85a3;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .submit-btn:hover {
        background-color: #3b90e5;
    } 
    .hidden {
        display: none;
    }


    /* password with eye icon */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

#password {
  padding: 10px;
  font-size: 16px;
}

#passkey {
    padding: 10px;
    font-size: 16px;
}

#securityCode {
    padding: 10px;
    font-size: 16px;
}

#togglePassword {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#togglePassword i {
  font-size: 18px;
}

.fa{
  color: #0a85a3;
}

#togglePasskey {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#togglePasskey i {
  font-size: 18px;
}

#toggleSecurityCode {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#toggleSecurityCode i {
  font-size: 18px;
}

</style>
<body>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 id="signin-heading">Sign in</h2>
      <form method="post" action="/study/auth/signin" class="needs-validation" novalidate>
          <div class="radio-button-container">
            <div class="form-check form-check-inline">
              <input type="radio" id="student" class="form-check-input" name="role" value="student" required>
              <label for="student" class="form-check-label">Student</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" id="teacher" class="form-check-input" name="role" value="teacher" required>
              <label for="teacher" class="form-check-label">Teacher</label> 
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" id="admin" class="form-check-input" name="role" value="admin" required>
              <label for="admin" class="form-check-label">Admin</label>
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label for="username" class="form-label">username</label><br>
            <input type="text" id="username" class="form-control" placeholder="Enter your username" name="username" required>
          </div>
          <div class="hidden" id="adminFields">
              <div class="mb-3">
                <label for="passkey" class="form-label">passkey</label><br>
                <div class="password-container">
                  <input type="password" name="passkey" id="passkey" class="form-control" placeholder="Enter your passkey" required>
                  <button id="togglePasskey" type="button">
                    <i id="eyeIconPasskey" class="fa fa-eye"></i>
                  </button>
                </div>
              </div>
              <div class="mb-3">
                <label for="securityCode" class="form-label">security code</label><br>
                  <div class="password-container">
                    <input type="password" name="securityCode" id="securityCode" class="form-control" placeholder="Enter security code" required>
                    <button id="toggleSecurityCode" type="button">
                      <i id="eyeIconSecurityCode" class="fa fa-eye"></i>
                    </button>
                  </div>
              </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">password</label><br>
              <div class="password-container">
                <input type="password" id="password" class="form-control" name="password" placeholder="Enter your password" required>
                <button id="togglePassword" type="button">
                  <i id="eyeIconPassword" class="fa fa-eye"></i>
                </button>
              </div>
          </div>
          <div class="submit-button-container"><button type="submit" class="submit-btn">Sign in</button></div>
      </form>
      </div>
    </div>

    <script>
        document.querySelectorAll('input[name="role"]').forEach(roleInput => {
            roleInput.addEventListener("change", function() {
                const adminFields = document.getElementById("adminFields");
                if(this.value === "admin") {
                    adminFields.classList.remove("hidden");
                    document.getElementById('passkey').required = true;
                    document.getElementById('securityCode').required = true; 
                    document.getElementById('username').value = "";
                    document.getElementById('passkey').value = "";
                    document.getElementById('securityCode').value = "";
                    document.getElementById('password').value = "";
                } else{
                    adminFields.classList.add("hidden");
                    document.getElementById('passkey').required = false;
                    document.getElementById('securityCode').required = false; 
                    document.getElementById('username').value = "";
                    document.getElementById('password').value = "";
                }
            });
        });


        //password with eye icon

        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordField = document.getElementById('password');
            const eyeIcon = document.getElementById('eyeIconPassword');
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            eyeIcon.classList.toggle('fa-eye');
            eyeIcon.classList.toggle('fa-eye-slash');
        });

        document.getElementById('togglePasskey').addEventListener('click', function () {
            const passkeyField = document.getElementById('passkey');
            const eyeIcon = document.getElementById('eyeIconPasskey');
            const type = passkeyField.getAttribute('type') === 'password' ? 'text' : 'password';
            passkeyField.setAttribute('type', type);
            eyeIcon.classList.toggle('fa-eye');
            eyeIcon.classList.toggle('fa-eye-slash');   
        });

        document.getElementById('toggleSecurityCode').addEventListener('click', function () {
            const securityCodeField = document.getElementById('securityCode');
            const eyeIcon = document.getElementById('eyeIconSecurityCode');
            const type = securityCodeField.getAttribute('type') === 'password' ? 'text' : 'password';
            securityCodeField.setAttribute('type', type);
            eyeIcon.classList.toggle('fa-eye');
            eyeIcon.classList.toggle('fa-eye-slash');   
        });
    </script>
</body>