<% if(currUser && currUser.type === "Student") {%>
    <% let noti = false %>
    <% let count = 0 %>
    <% if(studentDoubt.doubts.length) {%>
        <% for(dbt of studentDoubt.doubts) {%>
            <% if(dbt.solution.length) {%>
                <% if(!dbt.review.length) {%>
                    <% noti = true %>
                    <% count ++ %>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
    <% if(noti) {%>
        <li class="nav-item">
            <button type="button" class="btn position-relative bottom-solid-bell" style="background: white; height: 50px; width: 50px; border-radius: 50%;">
            <i class="fa-solid fa-bell bottom-solid-bell"></i>
            <span class="position-absolute top-1 start-99 translate-middle" style="color: #ff4500;">
                <%= count %>
            </span>
            </button>
        </li>
    <% } %>
    <% if(!noti) {%>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"><i class="fa-regular fa-bell bottom-regular-bell"></i></a>
        </li>
    <% } %>
<% } %>