<% if(currUser && currUser.type === "Teacher") {%>
    <% let noti = false %>
    <% let count = 0 %>
    <% if(teacherDoubtsAssigned.doubtAssigned.length) {%>
        <% for(doubts of teacherDoubtsAssigned.doubtAssigned) {%>
            <% if(!doubts.solution.length && doubts.student && doubts.doubt) {%>
                <% noti = true %>
                <% count ++ %>
            <% } %>
        <% } %>
    <% } %>
    <% if(noti) {%>
        <button type="button" class="btn position-relative top-solid-bell" style="background: white; height: 50px; width: 50px; border-radius: 50%;">
            <i class="fa-solid fa-bell top-solid-bell"></i>
            <span class="position-absolute top-1 start-99 translate-middle" style="color: #134f8b;">
                <%= count %>
            </span>
        </button>
    <% } %>
    <% if(!noti) {%>
        <i class="fa-regular fa-bell top-regular-bell"></i>
    <% } %>
<% } %>