<% if(!currUser) {%>
  <li class="nav-item">
    <a class="nav-link" href="/study/auth/signup">Sign up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/study/auth/signin">Sign in</a>
  </li>
<% } %>

<% if(currUser) {%>
  <% if(currUser.type === "Student") {%>
    <li class="nav-item">
      <a class="nav-link" href="/doubts/<%= currUser._id %>/doubt">Add Doubt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/students/<%= currUser._id %>">Your Profile</a>
    </li>
  <% } %>
  <% if(currUser.type === "Teacher") {%>
    <li class="nav-item">
      <a class="nav-link" href="/teachers/<%= currUser._id %>">Your profile</a>
    </li>
  <% } %>
  <% if(currUser.type === "Admin") {%>
    <li class="nav-item">
      <a class="nav-link" href="/admin/<%= currUser._id %>">Your profile</a>
    </li>
  <% } %>
  <li class="nav-item">
    <a class="nav-link" href="/study/auth/signout">Sign out</a>
  </li>
<% } %>