@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.help {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: auto auto 40px auto;
}

.help > p,
.help > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.help > h1 {
  color: #083b18;
  font-weight: 900;
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  color: #083b18;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.faq-heading{
  text-align: start;
}

.accordion i {
  border-radius: 6px;
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  border-radius: 6px;
  background-color: #f2f2f3;
}
.pannel {
  border-radius: 6px;
  padding: 0 2rem 2.5rem 2rem;
  background-color: #e5e6e6;
  overflow: hidden;
  display: none;
}
.pannel p {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
  padding-top: 30px;
}

.faq {
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.9);
  margin: 10px 0;
}
.faq.active {
  border: none;
}

@media(max-width: 1000px){
  .help{
    margin: 0 0 40px 0;
  }
  .accordion{
    font-size: 1rem;
  }
}

@media(max-width: 776px){
  .help{
    padding: 20px;
  }
  .accordion{
    font-size: 0.9rem;
  }
}

@media (max-width:450px) {
  .accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    color: #083b18;
    cursor: pointer;
    font-size: 0.8rem;
    width: 100%;
    padding: 1rem 0.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .pannel p {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    line-height: 1.4;
    padding-top: 30px;
  }
}