<% layout("/layouts/boilerplate") %>
<style>
  .teacher-solution-heading{
    color: #0a85a3;
    text-align: center;
    margin-top: 10px;
  }
    label{
        color: #134f8b;
    }
    #image{
        background-color: #fff;
    }
    .solution-button{
      padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        background-color: #0a85a3;
        margin: 3px 0 16px 0;
    }
    .button:hover{
      background-color: #3b90e5;
    }
    .submit-button-container{
      text-align: center;
      margin-top: 16px;
    }
    .remove-button:hover{
        background-color: #e74c3c;
    }
    #maxLimitMessage{
        display: none;
        text-align: center;
    }
</style>
<body>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="teacher-solution-heading">Give a Solution</h2>
    <div id="maxLimitMessage" class="alert alert-danger alert-dismissible fade show col-lg-6 offset-lg-3 offset-md-3 col-md-6" role="alert">
      <button type="button" id="close-button" class="btn-close"></button>
      You reached your maximum limit
    </div>
      <form action="/doubts/<%= studentId %>/<%= doubtId %>/<%= teacherId %>/solution" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
          <div id="uploadForm">
              <div>
                <label for="image" class="form-label">Upload Image</label>
              <input type="file" id="image" class="form-control" name="solution[image]" required>
              </div>
              <button id="addImageButton" class="solution-button button" type="button">Add Image Field</button><br>
          </div>
          <div>
            <label for="suggestion" class="form-label">Suggestion</label>
            <textarea name="solution[suggestion]" id="suggestion" class="form-control" placeholder="give a suggestion" required></textarea>
          </div>
          <div class="submit-button-container"><button class="solution-button button">Submit</button></div>
      </form>
    </div>
  </div>

    <script>
         document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.getElementById('addImageButton');
    const uploadForm = document.getElementById('uploadForm');
    const maxImages = 9; // Maximum number of image upload fields allowed
  
    addButton.addEventListener('click', function() {
      if (uploadForm.children.length / 3 >= maxImages) {
        const maxLimitMessage = document.getElementById('maxLimitMessage');
        const closeButton = document.getElementById('close-button');
        maxLimitMessage.style.display = 'block';
        closeButton.addEventListener('click', function() {
          maxLimitMessage.style.display = 'none';
        });
        return;  
      }
  
      // Create label element
      const label = document.createElement('label');
      label.setAttribute('for', `image${uploadForm.children.length}`);
      label.innerHTML = 'Upload Image&nbsp;';
  
      // Create input element
      const input = document.createElement('input');
      const br = document.createElement('br');
      input.setAttribute('type', 'file');
      input.setAttribute('id', `image${uploadForm.children.length}`);
      br.setAttribute('id', `br${uploadForm.children.length}`)
      input.setAttribute('name', `solution[image]`);
      input.setAttribute('id', `image`);
      input.setAttribute('class', `form-control`);
      input.setAttribute('required', '');
  
      // Create remove button
      const removeButton = document.createElement('button');
      removeButton.textContent = 'Remove';
      removeButton.setAttribute('class', 'solution-button remove-button')
      removeButton.addEventListener('click', function() {
        uploadForm.removeChild(label);
        uploadForm.removeChild(input);
        uploadForm.removeChild(removeButton);
        uploadForm.removeChild(br);
      });
  
      // Append label, input, remove button, and line break to uploadForm
      uploadForm.appendChild(label);
      uploadForm.appendChild(input);
      uploadForm.appendChild(removeButton);
      uploadForm.appendChild(br);
    });
  });


    </script>
</body>