<div id="aboutadd">
  <div class="about-section">
    <div class="card">
      <h2>About Us</h2>
      <p>Hey I am StudyLite, I provide proper guidance to students. I check practice Ans from students and evaluate
        all the mistakes and provide them a proper and better solutions.
        Tips and tricks for much more betterment and
        1:1 mentorship for achieving their target. Creates lots of employment for teachers and common people.
      </p>
    </div>
    <div class="card">
      <h2>How it works</h2>
      <p>Students can upload their practice Ans in the form of image or Pdf. We check them and find out the mistakes
        and provide a better solution with Tips and Tricks.
        Also, we provide to talk with the teachers to clear their doubts.
      </p>
    </div>
    <div class="card">
      <h2>Benefits</h2>
      <p>Through Study Lite students know about how much they studied. Also, they get a way to evaluate their Answers
        by saving some time.
        Teachers and common people get a parttime job for bearing their small Expenses by working for short time in
        StudyLite.
      </p>
    </div>
  </div>
</div>