<% layout("/layouts/boilerplate") %>
<style>
    h2{
        color: #0a85a3;
    }
</style>
<link rel="stylesheet" href="/css/teachers/index.css">
<body>
    <h2>Our Teachers</h2>
    <% for(teacher of allTeachers) { %>
        <li><a href="/teachers/<%= teacher._id %>"><%= teacher.name %></a></li>
    <% } %>
</body>